header {
  display: flex;
  justify-content: space-around;
  padding: 12px;
  background: #222;
  margin-top: 40px;
}

button {
  color: white;
  background: #444;
  border: none;
  padding: 8px 16px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.details {
  padding: 12px;
  background: #f5f5f5;
}
