<header>
  <button (click)="openCreate()">Create</button>
  <button (click)="view = 'stored'">Generate</button>
</header>
@if (view === 'stored') {
<main>
  <ul>
    @for ( password of passwords; track $index) {

    <li (click)="select(password)">
      {{ password.name }}
    </li>
    }
  </ul>
  @if (selected) {

  <div class="details">
    <p><strong>User:</strong> {{ selected.username }}</p>
    <p><strong>Password:</strong> {{ selected.password }}</p>
  </div>
  }
</main>
} @if (showModal) {
<app-create-modal (closed)="closeModal()"> </app-create-modal>
}
